# Data Preprocessing

In [1]:
import pandas as pd
import numpy as np
import os
import yfinance as yf
import requests
import datetime
from apikey import SECRET_KEY

C:\Users\unnia\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\unnia\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
C:\Users\unnia\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

## Get Raw Data

In [2]:
# Initialize an empty list to store individual dataframes
dfs = []

# Dictionary mapping abbreviated stock names to real/full names
stock_mapping = {
    "aapl": "AAPL",
    "nvda": "NVDA",
    "tsla": "TSLA",
}

# Directory where the files are stored
directory = "options_data"

# Loop through each stock abbreviation
for stock_abbrev, stock_fullname in stock_mapping.items():
    # Loop through each month from January to September 2023
    for month in range(1, 10):
        # Create the filename in the format 'stockname_eod_YYYYMM'
        filename = os.path.join(directory, f"{stock_abbrev}_eod_2023{month:02}.txt")
        
        # Check if file exists
        if os.path.exists(filename):
            # Load the text file content into a DataFrame
            df = pd.read_csv(filename, sep=",")
            
            # Clean the column names by removing [ and ]
            df.columns = df.columns.str.replace('[', '').str.replace(']', '')
            
            # Add a new column for the real/full stock name
            df['Stock'] = stock_fullname
            
            # Append the dataframe to the list
            dfs.append(df)

# Concatenate all the DataFrames into a single DataFrame
final_df = pd.concat(dfs, ignore_index=True)
final_df.columns = [col.strip() for col in final_df.columns]

C:\Users\unnia\AppData\Local\Temp\ipykernel_49788\2731462623.py:25: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, sep=",")
C:\Users\unnia\AppData\Local\Temp\ipykernel_49788\2731462623.py:25: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, sep=",")
C:\Users\unnia\AppData\Local\Temp\ipykernel_49788\2731462623.py:25: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, sep=",")
C:\Users\unnia\AppData\Local\Temp\ipykernel_49788\2731462623.py:25: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, sep=",")

In [3]:
final_df

,QUOTE_UNIXTIME,QUOTE_READTIME,QUOTE_DATE,QUOTE_TIME_HOURS,UNDERLYING_LAST,EXPIRE_DATE,EXPIRE_UNIX,DTE,C_DELTA,C_GAMMA,...,P_DELTA,P_GAMMA,P_VEGA,P_THETA,P_RHO,P_IV,P_VOLUME,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT,Stock
0,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98892,0.0005,...,-0.0003,0.00006,0.00037,-0.00419,0.0,2.877760,33.000000,75.0,0.600,AAPL
1,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98879,0.00059,...,-0.00017,0.00009,0.00026,-0.00477,-0.00012,2.590760,0.000000,70.0,0.560,AAPL
2,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98944,0.00061,...,-0.00067,0.00008,-0.0001,-0.00402,0.0,2.328960,1.000000,65.0,0.520,AAPL
3,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98455,0.00091,...,-0.00074,0.00006,0.00064,-0.0043,-0.00018,2.087670,0.000000,60.0,0.480,AAPL
4,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98697,0.00098,...,-0.00082,0.0001,0.0004,-0.00396,-0.00031,1.864090,0.000000,55.0,0.440,AAPL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1650460,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.07042,0.00144,...,-1.0,0.0,0.0,0.0,0.0,,,222.6,0.521,SPY
1650461,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06119,0.00127,...,-1.0,0.0,0.0,0.0,0.0,,,227.6,0.533,SPY
1650462,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06441,0.00129,...,-1.0,0.0,0.0,0.0,0.0,,0.000000,232.6,0.544,SPY
1650463,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06327,0.00129,...,-1.0,0.0,0.0,0.0,0.0,,,237.6,0.556,SPY
1650464,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.05805,0.00121,...,-1.0,0.0,0.0,0.0,0.0,,0.000000,242.6,0.568,SPY

## Get Dividend and Dividend Yield

In [4]:
final_df['dividend_yield'] = 0.0
final_df['dividends'] = 0.0  # New column for dividend amounts
final_df['dividend_rate'] = 0.0  # New column for annualized dividend rate

# Loop through each unique stock name in final_df
for stock_name in final_df['Stock'].unique():
    
    # Fetch data for the ticker
    stock = yf.Ticker(stock_name)
    hist_data = stock.history(start="2023-01-01", end="2023-09-30")
    
    # Extract dividends
    dividends = hist_data['Dividends']
    
    # Calculate quarterly dividend
    quarterly_dividends = dividends.resample('Q').sum()
    
    # Calculate the sum of the last four quarters' dividends (annual dividends)
    annual_dividends = quarterly_dividends[-4:].sum() if len(quarterly_dividends) >= 4 else quarterly_dividends.sum()
    
    # Map quarterly dividend values and annualized dividend rate to final_df for both amount and yield
    for date, dividend in quarterly_dividends.items():
        mask = (final_df['Stock'] == stock_name) & \
               (pd.to_datetime(final_df["QUOTE_DATE"]).dt.to_period('Q') == pd.Timestamp(date).to_period('Q'))
        
        if dividend > 0 and mask.any():
            # Select the relevant stock price, assuming it's the last one before the dividend date
            stock_price_on_dividend_date = final_df.loc[mask, "UNDERLYING_LAST"].iloc[-1]
            dividend_yield = (dividend / stock_price_on_dividend_date) * 100
            
            # Calculate annualized dividend rate based on the last quarterly dividend
            annualized_rate = (dividend * 4) / stock_price_on_dividend_date
            
            # Update the DataFrame with the dividend yield, dividend amount, and annualized dividend rate
            final_df.loc[mask, 'dividend_yield'] = dividend_yield
            final_df.loc[mask, 'dividends'] = dividend
            final_df.loc[mask, 'dividend_rate'] = annualized_rate

C:\Users\unnia\AppData\Local\Temp\ipykernel_49788\2187152481.py:24: UserWarning: Converting to Period representation will drop timezone information.
  (pd.to_datetime(final_df["QUOTE_DATE"]).dt.to_period('Q') == pd.Timestamp(date).to_period('Q'))
C:\Users\unnia\AppData\Local\Temp\ipykernel_49788\2187152481.py:24: UserWarning: Converting to Period representation will drop timezone information.
  (pd.to_datetime(final_df["QUOTE_DATE"]).dt.to_period('Q') == pd.Timestamp(date).to_period('Q'))
C:\Users\unnia\AppData\Local\Temp\ipykernel_49788\2187152481.py:24: UserWarning: Converting to Period representation will drop timezone information.
  (pd.to_datetime(final_df["QUOTE_DATE"]).dt.to_period('Q') == pd.Timestamp(date).to_period('Q'))
C:\Users\unnia\AppData\Local\Temp\ipykernel_49788\2187152481.py:24: UserWarning: Converting to Period representation will drop timezone information.
  (pd.to_datetime(final_df["QUOTE_DATE"]).dt.to_period('Q') == pd.Timestamp(date).to_period('Q'))
C:\Users\unnia\AppData\Local\Temp\ipykernel_49788\2187152481.py:24: UserWarning: Converting to Period representation will drop timezone information.
  (pd.to_datetime(final_df["QUOTE_DATE"]).dt.to_period('Q') == pd.Timestamp(date).to_period('Q'))
C:\Users\unnia\AppData\Local\Temp\ipykernel_49788\2187152481.py:24: UserWarning: Converting to Period representation will drop timezone information.
  (pd.to_datetime(final_df["QUOTE_DATE"]).dt.to_period('Q') == pd.Timestamp(date).to_period('Q'))
C:\Users\unnia\AppData\Local\Temp\ipykernel_49788\2187152481.py:24: UserWarning: Converting to Period representation will drop timezone information.
  (pd.to_datetime(final_df["QUOTE_DATE"]).dt.to_period('Q') == pd.Timestamp(date).to_period('Q'))
C:\Users\unnia\AppData\Local\Temp\ipykernel_49788\2187152481.py:24: UserWarning: Converting to Period representation will drop timezone information.
  (pd.to_datetime(final_df["QUOTE_DATE"]).dt.to_period('Q') == pd.Timestamp(date).to_period('Q'))
C:\Users\unnia\AppData\Local\Temp\ipykernel_49788\2187152481.py:24: UserWarning: Converting to Period representation will drop timezone information.
  (pd.to_datetime(final_df["QUOTE_DATE"]).dt.to_period('Q') == pd.Timestamp(date).to_period('Q'))
C:\Users\unnia\AppData\Local\Temp\ipykernel_49788\2187152481.py:24: UserWarning: Converting to Period representation will drop timezone information.
  (pd.to_datetime(final_df["QUOTE_DATE"]).dt.to_period('Q') == pd.Timestamp(date).to_period('Q'))
C:\Users\unnia\AppData\Local\Temp\ipykernel_49788\2187152481.py:24: UserWarning: Converting to Period representation will drop timezone information.
  (pd.to_datetime(final_df["QUOTE_DATE"]).dt.to_period('Q') == pd.Timestamp(date).to_period('Q'))
C:\Users\unnia\AppData\Local\Temp\ipykernel_49788\2187152481.py:24: UserWarning: Converting to Period representation will drop timezone information.
  (pd.to_datetime(final_df["QUOTE_DATE"]).dt.to_period('Q') == pd.Timestamp(date).to_period('Q'))

In [5]:
final_df

,QUOTE_UNIXTIME,QUOTE_READTIME,QUOTE_DATE,QUOTE_TIME_HOURS,UNDERLYING_LAST,EXPIRE_DATE,EXPIRE_UNIX,DTE,C_DELTA,C_GAMMA,...,P_THETA,P_RHO,P_IV,P_VOLUME,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT,Stock,dividend_yield,dividends,dividend_rate
0,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98892,0.0005,...,-0.00419,0.0,2.877760,33.000000,75.0,0.600,AAPL,0.139529,0.230,0.005581
1,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98879,0.00059,...,-0.00477,-0.00012,2.590760,0.000000,70.0,0.560,AAPL,0.139529,0.230,0.005581
2,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98944,0.00061,...,-0.00402,0.0,2.328960,1.000000,65.0,0.520,AAPL,0.139529,0.230,0.005581
3,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98455,0.00091,...,-0.0043,-0.00018,2.087670,0.000000,60.0,0.480,AAPL,0.139529,0.230,0.005581
4,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98697,0.00098,...,-0.00396,-0.00031,1.864090,0.000000,55.0,0.440,AAPL,0.139529,0.230,0.005581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1650460,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.07042,0.00144,...,0.0,0.0,,,222.6,0.521,SPY,0.370379,1.583,0.014815
1650461,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06119,0.00127,...,0.0,0.0,,,227.6,0.533,SPY,0.370379,1.583,0.014815
1650462,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06441,0.00129,...,0.0,0.0,,0.000000,232.6,0.544,SPY,0.370379,1.583,0.014815
1650463,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06327,0.00129,...,0.0,0.0,,,237.6,0.556,SPY,0.370379,1.583,0.014815
1650464,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.05805,0.00121,...,0.0,0.0,,0.000000,242.6,0.568,SPY,0.370379,1.583,0.014815

## Get Risk Free Interest Rate

In [6]:
# Mapping for FRED series codes based on typical U.S. Treasury maturities
fred_series = {
    '1 month': 'DGS1MO',
    '3 months': 'DGS3MO',
    '6 months': 'DGS6MO',
    '1 year': 'DGS1',
    '2 years': 'DGS2',
    '3 years': 'DGS3'
}


api_key = SECRET_KEY

# Function to fetch data from FRED
def fetch_fred_data(series_code, start_date, end_date):
    base_url = "https://api.stlouisfed.org/fred/series/observations"
    params = {
        "series_id": series_code,
        "api_key": api_key,
        "file_type": "json",
        "observation_start": start_date,
        "observation_end": end_date
    }
    
    response = requests.get(base_url, params=params)
    data = response.json()["observations"]
    df = pd.DataFrame(data)
    return df[["date", "value"]].set_index("date")

# Fetch all the data based on your series mapping and store in a dictionary
start_date = datetime.datetime(2023, 1, 1)
end_date = datetime.datetime(2023, 9, 30)
rates_data = {}
for desc, code in fred_series.items():
    rates_data[desc] = fetch_fred_data(code, start_date.strftime('%Y-%m-%d'), end_date.strftime('%Y-%m-%d'))

# Function to map dataset maturities to typical U.S. Treasury maturities
def map_to_typical_maturity(days):
    if days <= 30:
        return '1 month'
    elif days <= 90:
        return '3 months'
    elif days <= 180:
        return '6 months'
    elif days <= 365:
        return '1 year'
    elif days <= 730:
        return '2 years'
    else:
        return '3 years'

def get_rate(row):
    mapped_maturity = map_to_typical_maturity(row['DTE'])
    rate_for_date = rates_data[mapped_maturity].loc[pd.to_datetime(row['QUOTE_DATE']).strftime('%Y-%m-%d')]
    return float(rate_for_date["value"]) if rate_for_date["value"] != '.' else None

final_df['interest rate'] = final_df.apply(get_rate, axis=1)

In [7]:
final_df

,QUOTE_UNIXTIME,QUOTE_READTIME,QUOTE_DATE,QUOTE_TIME_HOURS,UNDERLYING_LAST,EXPIRE_DATE,EXPIRE_UNIX,DTE,C_DELTA,C_GAMMA,...,P_RHO,P_IV,P_VOLUME,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT,Stock,dividend_yield,dividends,dividend_rate,interest rate
0,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98892,0.0005,...,0.0,2.877760,33.000000,75.0,0.600,AAPL,0.139529,0.230,0.005581,4.17
1,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98879,0.00059,...,-0.00012,2.590760,0.000000,70.0,0.560,AAPL,0.139529,0.230,0.005581,4.17
2,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98944,0.00061,...,0.0,2.328960,1.000000,65.0,0.520,AAPL,0.139529,0.230,0.005581,4.17
3,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98455,0.00091,...,-0.00018,2.087670,0.000000,60.0,0.480,AAPL,0.139529,0.230,0.005581,4.17
4,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98697,0.00098,...,-0.00031,1.864090,0.000000,55.0,0.440,AAPL,0.139529,0.230,0.005581,4.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1650460,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.07042,0.00144,...,0.0,,,222.6,0.521,SPY,0.370379,1.583,0.014815,4.80
1650461,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06119,0.00127,...,0.0,,,227.6,0.533,SPY,0.370379,1.583,0.014815,4.80
1650462,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06441,0.00129,...,0.0,,0.000000,232.6,0.544,SPY,0.370379,1.583,0.014815,4.80
1650463,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06327,0.00129,...,0.0,,,237.6,0.556,SPY,0.370379,1.583,0.014815,4.80
1650464,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.05805,0.00121,...,0.0,,0.000000,242.6,0.568,SPY,0.370379,1.583,0.014815,4.80

## Dummify Stocks

In [8]:
combined_data = pd.get_dummies(final_df, columns=['Stock'])

In [9]:
combined_data

,QUOTE_UNIXTIME,QUOTE_READTIME,QUOTE_DATE,QUOTE_TIME_HOURS,UNDERLYING_LAST,EXPIRE_DATE,EXPIRE_UNIX,DTE,C_DELTA,C_GAMMA,...,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT,dividend_yield,dividends,dividend_rate,interest rate,Stock_AAPL,Stock_NVDA,Stock_SPY,Stock_TSLA
0,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98892,0.0005,...,75.0,0.600,0.139529,0.230,0.005581,4.17,True,False,False,False
1,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98879,0.00059,...,70.0,0.560,0.139529,0.230,0.005581,4.17,True,False,False,False
2,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98944,0.00061,...,65.0,0.520,0.139529,0.230,0.005581,4.17,True,False,False,False
3,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98455,0.00091,...,60.0,0.480,0.139529,0.230,0.005581,4.17,True,False,False,False
4,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98697,0.00098,...,55.0,0.440,0.139529,0.230,0.005581,4.17,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1650460,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.07042,0.00144,...,222.6,0.521,0.370379,1.583,0.014815,4.80,False,False,True,False
1650461,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06119,0.00127,...,227.6,0.533,0.370379,1.583,0.014815,4.80,False,False,True,False
1650462,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06441,0.00129,...,232.6,0.544,0.370379,1.583,0.014815,4.80,False,False,True,False
1650463,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06327,0.00129,...,237.6,0.556,0.370379,1.583,0.014815,4.80,False,False,True,False
1650464,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.05805,0.00121,...,242.6,0.568,0.370379,1.583,0.014815,4.80,False,False,True,False

In [10]:
# Convert only the boolean columns to int (1 or 0)
boolean_columns = combined_data.select_dtypes(include=['bool']).columns
combined_data[boolean_columns] = combined_data[boolean_columns].astype(int)

In [11]:
combined_data

,QUOTE_UNIXTIME,QUOTE_READTIME,QUOTE_DATE,QUOTE_TIME_HOURS,UNDERLYING_LAST,EXPIRE_DATE,EXPIRE_UNIX,DTE,C_DELTA,C_GAMMA,...,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT,dividend_yield,dividends,dividend_rate,interest rate,Stock_AAPL,Stock_NVDA,Stock_SPY,Stock_TSLA
0,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98892,0.0005,...,75.0,0.600,0.139529,0.230,0.005581,4.17,1,0,0,0
1,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98879,0.00059,...,70.0,0.560,0.139529,0.230,0.005581,4.17,1,0,0,0
2,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98944,0.00061,...,65.0,0.520,0.139529,0.230,0.005581,4.17,1,0,0,0
3,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98455,0.00091,...,60.0,0.480,0.139529,0.230,0.005581,4.17,1,0,0,0
4,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98697,0.00098,...,55.0,0.440,0.139529,0.230,0.005581,4.17,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1650460,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.07042,0.00144,...,222.6,0.521,0.370379,1.583,0.014815,4.80,0,0,1,0
1650461,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06119,0.00127,...,227.6,0.533,0.370379,1.583,0.014815,4.80,0,0,1,0
1650462,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06441,0.00129,...,232.6,0.544,0.370379,1.583,0.014815,4.80,0,0,1,0
1650463,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06327,0.00129,...,237.6,0.556,0.370379,1.583,0.014815,4.80,0,0,1,0
1650464,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.05805,0.00121,...,242.6,0.568,0.370379,1.583,0.014815,4.80,0,0,1,0

## Clean data

In [12]:
# Count the number of NaNs in each column
nas_per_column = combined_data.isna().sum()

In [13]:
nas_per_column

QUOTE_UNIXTIME         0
QUOTE_READTIME         0
QUOTE_DATE             0
QUOTE_TIME_HOURS       0
UNDERLYING_LAST        0
EXPIRE_DATE            0
EXPIRE_UNIX            0
DTE                    0
C_DELTA                0
C_GAMMA                0
C_VEGA                 0
C_THETA                0
C_RHO                  0
C_IV                   0
C_VOLUME               0
C_LAST                 0
C_SIZE                 0
C_BID                  0
C_ASK                  0
STRIKE                 0
P_BID                  0
P_ASK                  0
P_SIZE                 0
P_LAST                 0
P_DELTA                0
P_GAMMA                0
P_VEGA                 0
P_THETA                0
P_RHO                  0
P_IV                   0
P_VOLUME               0
STRIKE_DISTANCE        0
STRIKE_DISTANCE_PCT    0
dividend_yield         0
dividends              0
dividend_rate          0
interest rate          0
Stock_AAPL             0
Stock_NVDA             0
Stock_SPY              0
Stock_TSLA             0
dtype: int64

In [14]:
# Count the number of empty strings in each column
empty_strings_per_column = combined_data.applymap(lambda x: x == ' ').sum()

# Print the number of empty strings for each column
print(empty_strings_per_column)

QUOTE_UNIXTIME              0
QUOTE_READTIME              0
QUOTE_DATE                  0
QUOTE_TIME_HOURS            0
UNDERLYING_LAST             0
EXPIRE_DATE                 0
EXPIRE_UNIX                 0
DTE                         0
C_DELTA                   475
C_GAMMA                   475
C_VEGA                    475
C_THETA                   475
C_RHO                     475
C_IV                    45995
C_VOLUME               224669
C_LAST                    475
C_SIZE                      0
C_BID                     475
C_ASK                     475
STRIKE                      0
P_BID                     475
P_ASK                     476
P_SIZE                      0
P_LAST                    475
P_DELTA                   475
P_GAMMA                   475
P_VEGA                    475
P_THETA                   475
P_RHO                     475
P_IV                   204548
P_VOLUME               305027
STRIKE_DISTANCE             0
STRIKE_DISTANCE_PCT         0
dividend_yield              0
dividends                   0
dividend_rate               0
interest rate               0
Stock_AAPL                  0
Stock_NVDA                  0
Stock_SPY                   0
Stock_TSLA                  0
dtype: int64

In [15]:
combined_data = combined_data.drop(columns=['P_BID', 'P_ASK', 'P_SIZE','P_LAST', 'P_DELTA', 'P_GAMMA', 'P_VEGA', 'P_THETA', 'P_RHO', 'P_IV','P_VOLUME'])

In [16]:
# Replace white space with NaN
combined_data.replace(r'^\s*$', np.nan, regex=True, inplace=True)

# Drop rows with NaN values
combined_data.dropna(inplace=True)

In [17]:
combined_data

,QUOTE_UNIXTIME,QUOTE_READTIME,QUOTE_DATE,QUOTE_TIME_HOURS,UNDERLYING_LAST,EXPIRE_DATE,EXPIRE_UNIX,DTE,C_DELTA,C_GAMMA,...,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT,dividend_yield,dividends,dividend_rate,interest rate,Stock_AAPL,Stock_NVDA,Stock_SPY,Stock_TSLA
0,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98892,0.0005,...,75.0,0.600,0.139529,0.230,0.005581,4.17,1,0,0,0
1,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98879,0.00059,...,70.0,0.560,0.139529,0.230,0.005581,4.17,1,0,0,0
2,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98944,0.00061,...,65.0,0.520,0.139529,0.230,0.005581,4.17,1,0,0,0
3,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98455,0.00091,...,60.0,0.480,0.139529,0.230,0.005581,4.17,1,0,0,0
4,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98697,0.00098,...,55.0,0.440,0.139529,0.230,0.005581,4.17,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1650455,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.08011,0.00171,...,197.6,0.462,0.370379,1.583,0.014815,4.80,0,0,1,0
1650456,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.07865,0.00158,...,202.6,0.474,0.370379,1.583,0.014815,4.80,0,0,1,0
1650458,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06786,0.00143,...,212.6,0.497,0.370379,1.583,0.014815,4.80,0,0,1,0
1650460,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.07042,0.00144,...,222.6,0.521,0.370379,1.583,0.014815,4.80,0,0,1,0
1650461,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06119,0.00127,...,227.6,0.533,0.370379,1.583,0.014815,4.80,0,0,1,0

## Change object type to float type

In [18]:
combined_data.dtypes

QUOTE_UNIXTIME           int64
QUOTE_READTIME          object
QUOTE_DATE              object
QUOTE_TIME_HOURS       float64
UNDERLYING_LAST        float64
EXPIRE_DATE             object
EXPIRE_UNIX              int64
DTE                    float64
C_DELTA                 object
C_GAMMA                 object
C_VEGA                  object
C_THETA                 object
C_RHO                   object
C_IV                    object
C_VOLUME                object
C_LAST                  object
C_SIZE                  object
C_BID                   object
C_ASK                   object
STRIKE                 float64
STRIKE_DISTANCE        float64
STRIKE_DISTANCE_PCT    float64
dividend_yield         float64
dividends              float64
dividend_rate          float64
interest rate          float64
Stock_AAPL               int32
Stock_NVDA               int32
Stock_SPY                int32
Stock_TSLA               int32
dtype: object

In [19]:
for column in combined_data.columns:
    if combined_data[column].dtype == 'object':  # Check if column data type is object
        try:
            combined_data[column] = combined_data[column].astype('float64')
        except ValueError:
            print(f"Could not convert column {column} to float64.")

Could not convert column QUOTE_READTIME to float64.
Could not convert column QUOTE_DATE to float64.
Could not convert column EXPIRE_DATE to float64.
Could not convert column C_SIZE to float64.

In [20]:
combined_data.dtypes

QUOTE_UNIXTIME           int64
QUOTE_READTIME          object
QUOTE_DATE              object
QUOTE_TIME_HOURS       float64
UNDERLYING_LAST        float64
EXPIRE_DATE             object
EXPIRE_UNIX              int64
DTE                    float64
C_DELTA                float64
C_GAMMA                float64
C_VEGA                 float64
C_THETA                float64
C_RHO                  float64
C_IV                   float64
C_VOLUME               float64
C_LAST                 float64
C_SIZE                  object
C_BID                  float64
C_ASK                  float64
STRIKE                 float64
STRIKE_DISTANCE        float64
STRIKE_DISTANCE_PCT    float64
dividend_yield         float64
dividends              float64
dividend_rate          float64
interest rate          float64
Stock_AAPL               int32
Stock_NVDA               int32
Stock_SPY                int32
Stock_TSLA               int32
dtype: object

In [21]:
combined_data

,QUOTE_UNIXTIME,QUOTE_READTIME,QUOTE_DATE,QUOTE_TIME_HOURS,UNDERLYING_LAST,EXPIRE_DATE,EXPIRE_UNIX,DTE,C_DELTA,C_GAMMA,...,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT,dividend_yield,dividends,dividend_rate,interest rate,Stock_AAPL,Stock_NVDA,Stock_SPY,Stock_TSLA
0,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98892,0.00050,...,75.0,0.600,0.139529,0.230,0.005581,4.17,1,0,0,0
1,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98879,0.00059,...,70.0,0.560,0.139529,0.230,0.005581,4.17,1,0,0,0
2,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98944,0.00061,...,65.0,0.520,0.139529,0.230,0.005581,4.17,1,0,0,0
3,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98455,0.00091,...,60.0,0.480,0.139529,0.230,0.005581,4.17,1,0,0,0
4,1672779600,2023-01-03 16:00,2023-01-03,16.0,125.01,2023-01-06,1673038800,3.00,0.98697,0.00098,...,55.0,0.440,0.139529,0.230,0.005581,4.17,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1650455,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.08011,0.00171,...,197.6,0.462,0.370379,1.583,0.014815,4.80,0,0,1,0
1650456,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.07865,0.00158,...,202.6,0.474,0.370379,1.583,0.014815,4.80,0,0,1,0
1650458,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06786,0.00143,...,212.6,0.497,0.370379,1.583,0.014815,4.80,0,0,1,0
1650460,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.07042,0.00144,...,222.6,0.521,0.370379,1.583,0.014815,4.80,0,0,1,0
1650461,1696017600,2023-09-29 16:00,2023-09-29,16.0,427.40,2026-01-16,1768597200,840.04,0.06119,0.00127,...,227.6,0.533,0.370379,1.583,0.014815,4.80,0,0,1,0

## Convert to csv

In [22]:
combined_data.to_csv('data.csv', index=False)